dist/
node_modules/
package-lock.json
yarn-error.log
packages/eslint-config/*.js
packages/eslint-config/*.d.ts
packages/oxfmt-config/*.js
packages/oxfmt-config/*.d.ts

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

# Nx
.nx

# Claude
/.claude
